* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Arial, sans-serif";
    font-size: 20px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 50px 0;
}

section h1 {
    color: rgba(70, 68, 68, 0.322);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

section p {
    text-align: center;
    color: rgba(172, 166, 166, 0.322);
    width: 100%;
    margin-bottom: 40px;
}

.container {
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    justify-content: center;
}

.container input {
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
    font-size: 20px;
}

.texts p.reply {
    text-align: right;
}

.icon {
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease;
}

.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.highlight {
    color: red;
    font-weight: bold;
}

#output {
    border: 2px solid #000000;
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
}

/* ----- for Toggle Switch ------ START
/* Container for label and switch */
.toggle-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.toggle_label {
    font-size: 16px;
    padding: 2px;
    margin: 10px;
}

/* The switch - outer container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    /* Spacing between label and switch */
}

/* The hidden checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider - the actual switch */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* The circle inside the switch */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked, move the slider */
input:checked+.slider {
    background-color: #f32121;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----- for Toggle Switch ------ END